*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
body{
    background-color: rgb(71, 62, 133);
}
main{
    background-color: rgb(122, 58, 58);
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgb(233, 211, 211);
}